<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Buggy Bus</title>
</head>
<body>
  <div id='login'>
    <p>login/signup</p>
  </div>

  <div class="row">
    <div class="small-6 small-centered columns">
      <div id='login_detail'>
        <div id='name'>
          <p>name</p>
        </div>
        <div id='email'>
          <p>email</p>
        </div>
        <div id='password'>
          <p>password</p>
        </div>

        <button id='submit'>Bada Bing</button>
        
      </div> <!-- login_detail -->

    <header>
      <div class="row">
        <div class="large-12 columns">
          <h2>BUGGY BUS</h2>
          <h3>BADA BING BADA BUS!</h3>
        </div>
      </div>
    </header>
    
  <div class="row" style="margin-top: 90px;">
    <div class="large-5 columns">
      <div class="small-6 small-offset-1 columns"> 
    <!-- <div class="small-6 small-centered columns"> -->
        <div id='main'>
          <h4>MENU</h4>
          <div id='to'>
            <p>to</p>
          </div>
          <div id='from'>
            <p>from</p>
          </div>
          <div id='time_leaving'>
            <p>leaving</p>
          </div>
          <div id='oneway'>
            <p>oneway</p>
          </div>
          <div id='roundtrip'>
            <p>roundtrip</p>
          </div>
          <div id='seasonal_message'>
            <p>seasonal message</p>
          </div>
          <div id='lucky'>
            <p>lucky</p>
          </div>
          <div id='search'>
            <p>search</p>
          </div>
        </div> <!-- main -->
      </div> <!-- small-6  -->
    </div> <!-- large-5 -->
  </div> <!-- row -->
</body>
</html>