<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <meta charset="utf-8">
  <title>Buggy Bus</title>
</head>
<body>
  <div id='login'>
    <p>login/signup</p>
  </div>

  <div id='login_detail'>
    <div id='name'>
      <p>name</p>
    </div>
    <div id='email'>
      <p>email</p>
    </div>
    <div id='password'>
      <p>password</p>
    </div>
    login_detail
  </div>
  <header>
    <div class="row">
      <div class="large-12 columns">
        <h2>BUGGY BUS</h2>
        <h3>BADA BING BADA BUS!</h3>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="small-6 small-centered columns">
      <div id='main'>
        <p>MENU</p>
        <div id='to'>
          to
        </div>
        <div id='from'>
          from
        </div>
        <div id='time_leaving'>
          leaving
        </div>
        <div id='oneway'>
          oneway
        </div>
        <div id='roundtrip'>
          roundtrip
        </div>
        <div id='seasonal_message'>
          seasonal message
        </div>
        <div id='lucky'>
          lucky
        </div>
        <div id='search'>
          search
        </div>
      </div> <!-- main -->
    </div> <!-- large 12 column -->
  </div> <!-- row -->
</body>
</html>
