<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div id='header'>
    <div id='title'>
      TITLE - INSIDE DIV HEADER
      
    </div>
    <div id='slogan'>
      SLOGAN - INSIDE DIV HEADER
    </div>
  </div>
  <div id='interior_body'>
    INTERIOR BODY
  </div>  
  <div id='time_leaving'>
    leaving
  </div>   
  <div id='oneway'>
    oneway
  </div>
  <div id='roundtrip'>
    roundtrip
  </div>  

  <div id='lucky'>
    lucky
  </div>
  <div id='search'>
    search
  </div>

</body>
</html>