<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Buggy Bus</title>
</head>
<body>

    <div id='login'>
      <p>login/signup</p>
    </div>

    <div id='login_detail'>
<!--       <%#= render 'users/form' %>
 -->      
      <div id='name'>
        <p>name</p>
      </div>
      <div id='email'>
        <p>email</p>
      </div>
      <div id='password'>
        <p>password</p>
      </div>

      <button id='submit'>Bada Bing</button>
      
    </div> <!-- login_detail -->

    <header>
      <div class="row">
        <div class="large-12 columns">
          <h2>BUGGY BUS</h2>
          <h3>BADA BING BADA BUS!</h3>
        </div>
      </div>
    </header>
    
  <!-- <div class="row" style="margin-top: 90px;"> -->
    <!-- <div class="large-5 columns"> -->
<!--       <div class="small-6 small-offset-1 columns">
 -->        
    <div class="small-6 small-centered columns">
      <div class="panel callout radius">

<!--       <div id='main'>
 -->        <h4>MENU</h4>
                <p id='id'>to</p>
            <h4>MENU</h4>
        
        <p id='from'>
          from</p>
        
        <div id='time_leaving'>
          <p>leaving</p>
        </div>
        <div id='oneway'>
          <p>oneway</p>
        </div>
        <div id='roundtrip'>
          <p>roundtrip</p>
        </div>
        
        <div id='seasonal_message'>
          <p>seasonal message</p>
        </div>
        <div id='lucky'>
          <p>lucky</p>
        </div>
        <div id='search'>
          <p>search</p>
        </div>
      </div> <!-- 3 columns -->
<!--       </div>
 -->
    <!-- </div> -->
    </div>
    </div> <!-- large 12 column -->
  </div> <!-- row -->
    
    

</body>
</html>