<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>BuggyBus - Single Page</h1>
  <div id='header'>
    <div id='title'>
      
    </div>
    <div id='slogan'>
     
      
    </div>
    
  </div>
    
    
  

</body>
</html>




