<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div id='login'>
    login/signup
  </div>
  <div id='header'>
    <div id='title'>
      TITLE - INSIDE DIV HEADER
      
    </div>
    <div id='slogan'>
      SLOGAN - INSIDE DIV HEADER
    </div>
  </div>
  <div id='interior_body'>
    INTERIOR BODY
    <div id='to'>
      to
    </div>
    <div id='from'>
      from
    </div>
    
    <div id='time_leaving'>
      leaving
    </div>
    <div id='oneway'>
      oneway
    </div>
    <div id='roundtrip'>
      roundtrip
    </div>
    
    <div id='seasonal_message'>
      seasonal message
    </div>
    <div id='lucky'>
      lucky
    </div>
    <div id='search'>
      search
    </div>
  </div>

</body>
</html>