<%#= form_for :search, :url => {:action => "create"} do |f| %>
        <%#= f.label(:departure_location) %>
        <%#= f.text_field(:departure_location) %>
 <!--    </div> -->

<!--     <div id='arrival_location'> -->
       <%#= f.label(:arrival_location) %>
        <%#= f.text_field(:arrival_location) %>
 <!--    </div> -->

  <!--   <div id='departure_time'> -->
       <%#= f.label(:departure_date) %>
        <%#= f.text_field(:departure_date) %>
  <!--   </div> -->
    <%#= submit_tag("Search") %>

    <%# end %>
