<div id='main'>
  <div id='departure_location'>
    <%#= form_for :search do |f| %>
      <%#= f.label(:departure_location) %>
      <%#= f.text_field(:departure_location) %>
  </div>

  <div id='arrival_location'>
      <%#= f.label(:arrival_location) %>
      <%#= f.text_field(:arrival_location) %>
  </div>

  <div id='departure_time'>
      <%#= f.label(:departure_date) %>
      <%#= f.text_field(:departure_date) %>
  </div>
      <%#= submit_tag("Search") %>
      <%# end %>

  <div id='oneway'>
    oneway
  </div>
  <div id='roundtrip'>
    roundtrip
  </div>

  <div id='seasonal_message'>
    seasonal message
  </div>
  <div id='lucky'>
    lucky
  </div>
  <div id='search'>
    search
  </div>
</div>
 -->
