/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background: url('buggybus_background.jpg') repeat-x #dfdfdf; /* add a fallback color of #d6d6d6 */
  background-size: 100%;
}

#container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 960px;

  color: #000000;
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.7; /* line-height is unit-less */
  font-size: 14px;

}
h2 {
  font-family: 'Comfortaa', 'cursive';
  color: white;
  font-size: 65px;
  letter-spacing: 8px;
  text-align: center;

}

#login {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 90px;
  height: 50px;
  background: white;

}

header {

  margin: 100 auto;
  width: 100%;
  height: 200px;
/*  background: #0c7bb3;
*/  display: inline-block;
  text-align: center;

}

/*#company_name {
  position: absolute;
  top: 04%;
  left: 01%;
  width: 490px;
  height: 100px;
  display: inline-block;
/*  background: #79aac3;
*/}*/

/*#slogan {
  top: 50%;
  left: 01%;
  width: 490px;
  height: 46px;
  /*background: #b2c9b1;*/
}*/
h3 {
  color: white;
  font-size: 30px;
}

#main {

  position: absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  height: 300px;
  background: #661511;
  opacity: .8;
}

#main p {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  font-size: 22px;
  color: white;
  font-weight: bold;

}

#from {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 100px;
  height: 20px;
  background: #8f8a73;

}

#to {
  position: absolute;
  top: 15%;
  left: 27%;
  width: 100px;
  height: 20px;
  background: #8f8a73;
}

#time_leaving {
  position: absolute;
  top: 15%;
  left: 51%;
  width: 100px;
  height: 20px;
  background: #8f8a73;

}

#oneway {
  position: absolute;
  top: 5%;
  left: 62%;
  width: 80px;
  height: 20px;
  background: #8f8a73;

}

#roundtrip {
  position: absolute;
  top: 5%;
  left: 81%;
  width: 80px;
  height: 20px;
  background: #8f8a73;

}

#seasonal_message {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}

#lucky {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}

#search {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}
