document {



}

body {

  position: relative;
  top: 0;
  left: 0;
  width: 500px;
  height: 600px;
  background: #f5c7d3;

}

#login {
  position: absolute;
  top: 0;
  left: 100%;
  width: 190;
  height: 20;
  background: white;

}

#header {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 500px;
  height: 100px;
  background: #0c7bb3;
}

#title {
  position: absolute;
  top: 04%;
  left: 01%;
  width: 490px;
  height: 50px;
  background: #79aac3;
}

#slogan {
  position: absolute;
  top: 50%;
  left: 01%;
  width: 490px;
  height: 46px;
  background: #b2c9b1;
}

#interior_body {

  position: absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  height: 300px;
  background: #b6a89c;
}

#from {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 100px;
  height: 20px;
  background: #8f8a73;

}

#to {
  position: absolute;
  top: 15%;
  left: 27%;
  width: 100px;
  height: 20px;
  background: #8f8a73;
}

#time_leaving {
  position: absolute;
  top: 15%;
  left: 51%;
  width: 100px;
  height: 20px;
  background: #8f8a73;

}

#oneway {
  position: absolute;
  top: 5%;
  left: 62%;
  width: 80px;
  height: 20px;
  background: #8f8a73;

}

#roundtrip {
  position: absolute;
  top: 5%;
  left: 81%;
  width: 80px;
  height: 20px;
  background: #8f8a73;

}

#seasonal_message {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}

#lucky {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}

#search {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 180px;
  height: 25px;
  background: #8f8a73;

}
